.system-paper-plane-style-outline,
.system-paper-plane-style-outline * {
  box-sizing: border-box;
}
.system-paper-plane-style-outline {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
