/* components/ImageBlock.module.css */
@import "../../../styles/variables.scss";

.close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-bottom: 30px;
}

.imageBlockContainer {
  display: flex;
  gap: 0px;
  border-radius: 40px;
  overflow: hidden;
  width: 80%;
  height: 600px;
  position: relative;
  top: -80px;
}

.imageBlock {
  flex: 1;
  flex-basis: calc(33.3333% - 10px); /* Adjust based on the gap */
  transition: flex-basis 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
}

// .imageBlockContainer:hover .imageBlock {
//   flex-basis: 15%;
// }

// .imageBlockContainer .imageBlock:hover {
//   flex-basis: 40%;
// }

.title1 {
  margin: 10px;
  color: #fff;
  z-index: 2;
  color: #ffffff;
  text-align: left;
  font-family: $heading-h3-font-family;
  font-size: $heading-h3-font-size;
  font-weight: heading-h3-font-weight;
}

.title2 {
  margin: 10px;
  color: #fff;
  z-index: 2;
  color: $primairewhite;
  text-align: left;
  font-family: $heading-h4-font-family;
  font-size: $heading-h4-font-size;
  font-weight: $heading-h4-font-weight;
}

.number {
  margin: 10px;
  color: #fff;
  z-index: 2;
  color: #ffffff;
  text-align: left;
  font-family: $heading-h2-font-family;
  font-size: $heading-h2-font-size;
  font-weight: $heading-h2-font-weight;
}


.content {
  overflow: scroll;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 0;
  background: rgb(94 89 89 / 39%);
  backdrop-filter: blur(12px);
  color: #fff;
  padding: 30px;
  width: 100%;
  height: 100%;
  .frame-3387__group-366012 {
    width: 100%;
    height: auto;
    display: block;
  }
}

.details1,
.details2 {
  display: flex;
  flex-direction: column;
  svg {
    width: 22px;
    height: 22px;
    flex: none;
  }
}

.details1Item,
.details2Item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 10px;
}

.imageBlock {
  &:hover,
  &:focus {
    .content {
      width: 100%;
      display: block;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  }
}

.textContent,
.list {
  width: 50%;
}

@media (max-width: 1000px) {
  /*
  .imageBlockContainer {
    flex-direction: column;
  }

  .imageBlock, .imageBlockContainer:hover .imageBlock, .imageBlockContainer .imageBlock:hover {
    flex-basis: auto; 
  }
  */

  .imageBlockContainer {
    flex-direction: column;
    top: 0px;
  }

  // .imageBlockContainer .imageBlock:hover {
  //   // height: 70%; /* Increase height on hover */
  //   flex-basis: 160%;
  // }
}
