a.joinMovementLink {
    text-decoration: none;
}  

.lp-mobile__frame-48095739 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 320px;
    position: relative;
  }
  .lp-mobile__title {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .lp-mobile__rejoindre-le-mouvement {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: "Unbounded-Medium", sans-serif;*/
    font-size: 30px;
    font-weight: 500;
    position: relative;
  }
    
  .lp-mobile__wrraper-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }

  
  .lp-mobile__frame-48095730 {
    background: var(--primaire-white, #f6f8ff);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 435px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile__frame-76 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .lp-mobile__rectangle-52 {
    background: #efe4fc;
    border-radius: 41px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
      114.95deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
    flex-shrink: 0;
    width: 70px;
    height: 73px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    backdrop-filter: blur(107.5px);
  }
  
  .lp-mobile__vuesax-linear-status-up-instance {
    flex-shrink: 0 !important;
    position: absolute !important;
    left: 23px !important;
    top: 25px !important;
    transform-origin: 0 0 !important;
    transform: rotate(0deg) scale(1, 1) !important;
    color: #7A5F9A;
    height: 24px !important;
    width: 24px !important;
  }
  .lp-mobile__frame-7 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile__heading2 {
    color: #000000;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: "Unbounded-Regular", sans-serif;*/
    font-size: 24px;
    font-weight: 400;
    position: relative;
    width: 229px;
  }
  
  .lp-mobile__paragraph {
    color: #000000;
    text-align: left;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    line-height: 160%;
    font-weight: 400;
    opacity: 0.699999988079071;
    position: relative;
    width: 262px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile__frame-3 {
    margin: 0 auto;
    margin-top: 30px;
    background: #6052ff;
    border-radius: 6px;
    padding: 14px 31px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile__heading3 {
    color: #ffffff;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
  }
  
  .lp-mobile__frame-48095731 {
    background: var(--primaire-white, #f6f8ff);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .lp-mobile__heading4 {
    color: #000000;
    text-align: left;
    font-family: "Unbounded-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    width: 289px;
  }
  
  .lp-mobile__heading5 {
    color: #ffffff;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
  }
  .lp-mobile__frame-48095732 {
    background: var(--primaire-white, #f6f8ff);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 435px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile__frame-72 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    height: 190px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .lp-mobile__heading6 {
    color: #000000;
    text-align: left;
    font-family: "Unbounded-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
  }
  
  .lp-mobile__heading7 {
    color: #ffffff;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
  }
  