.frame-48095740 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: absolute;
  left: 774.91px;
  top: 57px;
  transform: translate(-66.91px, 0px);
  overflow: visible;
}

@media (max-width: 1100px) {
  .frame-48095740 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: auto;
    position: absolute;
    left: 730px;
    top: 57px;
    transform: translate(-66.91px, 0px);
    overflow: visible;
  }
  
}  

@media (max-width: 1000px) {
  .frame-48095740 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    height: auto;
    position: absolute;
    left: 590px;
    top: 10px;
    transform: translate(-66.91px, 0px);
    overflow: visible;
  }
  
}  