.vuesax-linear-status-up {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 23px;
    top: 25px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
.vuesax-linear-status-up2 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  
  