.faq,
.faq * {
  box-sizing: border-box;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  position: relative;
}
.faq-mobile-title {
  color: var(--bleu-300, #284f63);
  text-align: left;
  font-family: "Unbounded-Bold", sans-serif;
  font-size: 30px;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.faq-contain {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.mobile-instance-2 {
  flex-shrink: 0 !important;
}

.mobile-instance-1,
.mobile-instance-1 * {
  box-sizing: border-box;
}
.mobile-instance-1 {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  width: 321px;
  position: relative;
}
.faq-mobile-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.faq-mobile-question {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.faq-mobile-question-h3 {
  color: var(--other-secondary, #183544);
  text-align: left;
  font-family: var(
    --header-20-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--header-20-medium-font-size, 20px);
  line-height: var(--header-20-medium-line-height, 140%);
  font-weight: var(--header-20-medium-font-weight, 500);
  position: relative;
  width: 245px;
}
.mobile-instance-1__d-roul-info-instance {
  flex-shrink: 0 !important;
}
