.lp-mobile__logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .lp-mobile__fichier-3-1 {
    display: flex;
    flex-direction: row;
    gap: 4.43px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32.43px;
    height: 32.43px;
    position: relative;
    overflow: hidden;
  }
  .lp-mobile__calque-1-2 {
    flex-shrink: 0;
    width: 32.43px;
    height: 32.43px;
    position: relative;
    overflow: visible;
  }
  
  .lp-mobile__ira {
    flex-shrink: 0;
    width: 60.21px;
    height: 21.24px;
    position: relative;
    overflow: visible;
  }
  