@import '../../../styles/variables.scss';

.joinMovementNft,
.joinMovementNft * {
  box-sizing: border-box;
}
.joinMovementNft {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 50px;
    @media (max-width: 800px) {
      width: calc(80%);
    }  
    //height: 300px;
}
.joinMovementNftHeroleftTitle {
    color: $primaireblack;
    text-align: left;
    font-family: $heading-h2-font-family;
    font-size: $heading-h2-font-size;
    font-weight: $heading-h2-font-weight;
    position: relative;
    width: 350px;
    word-break: normal;
    //overflow-wrap: normal; /* Allows breaking at normal word breaks, but we're preventing wrapping entirely with white-space */
}
  
.joinMovementNftHeroleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  gap: 30px;
}

.joinMovementNftDescription {
  color: #021056;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 180%;
  font-weight: 500;
  position: relative;
  //width: 490px;
}


.joinMovementNftButtonsContainer {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
  
}

.joinMovementNftGalleryColumn1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    //height: fit-content;
    
}

.joinMovementNftGalleryColumn2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.joinMovementNftGalleryColumn3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.joinMovementNftButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 300px;
    height: 50px;
  
}
.joinMovementNft__frame-1 {
  background: linear-gradient(
    214.02deg,
    rgba(2, 16, 86, 0.5) 0%,
    rgba(2, 16, 86, 0.5) 100%
  );
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.joinMovementNft__explore-now {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.joinMovementNft__frame-2 {
  background: #5552ff;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.joinMovementNft__buy-nft {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}


.joinMovementNftGallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}
.joinMovementNftGalleryItem11 {
    //flex: 1 1 calc(33.333% - 20px);
    flex: 1;
    flex-shrink: 1;
    border-radius: 10px;
}

.joinMovementNftGalleryItem12 {
    flex: 1;
    flex-shrink: 1;
    border-radius: 10px;
}

.joinMovementNftGalleryItem13 {
  flex: 1;
  flex-shrink: 1;
  border-radius: 10px;
}

.joinMovementNftGalleryItem21 {
  flex: 1;
  flex-shrink: 1;
  border-radius: 10px;
}

.joinMovementNftGalleryItem22 {
  flex: 1;
  flex-shrink: 1;
  border-radius: 10px;
}

.joinMovementNftGalleryItem23 {
  flex: 1;
  flex-shrink: 1;
  border-radius: 10px;
}


.joinMovementNft__rectangle-15 {
  border-radius: 10px;
  width: 187px;
  height: 140px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-18 {
  border-radius: 10px;
  width: 187px;
  height: 127px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-20 {
  border-radius: 10px;
  width: 179px;
  height: 159px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-17 {
  border-radius: 10px;
  width: 187px;
  height: 220px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-16 {
  border-radius: 10px;
  width: 187px;
  height: 108px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-19 {
  border-radius: 10px;
  width: 187px;
  height: 220px;
  position: relative;
  object-fit: cover;
}
.joinMovementNft__rectangle-21 {
  border-radius: 10px;
  width: 187px;
  height: 412px;
  position: absolute;
  object-fit: cover;
}

@media (max-width: 950px) {

  .joinMovementNftGallery {
      flex-direction: column;
  }

}  

@media (max-width: 800px) {

  .joinMovementNftHeroleftTitle {
    font-size: 40px;
  }

  .joinMovementNft {
    flex-direction: column;
  }
  

}  
