@import '../../../styles/variables.scss';

.header-presale {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 446px;
    position: relative;
  }

.frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    background-color: transparent;
  }

.heading {
    color: transparent;
    font-family: $heading-h2-font-family;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 69px;
    margin-top: -1px;
    position: relative;
    width: 620px;
  }

.text-wrapper {
    color: #1e344f;
  }

.presale-header-title2 {
    color: #5551ff;
    position: relative;
    left: 0px;
  }
 
  
.rectangle {
    height: 63px;
    left: 335px;
    position: absolute;
    top: 78px;
    width: 276px;
  }

.frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 137px 0px 0px;
    position: relative;
  }
  
.div-wrapper {
    align-items: flex-start;
    background-color: $primairewhite;
    border-radius: 20px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 24px;
    position: relative;
  }

.p {
    color: $bleubleu-sombre-100;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    width: 198px;
  }

.img {
    height: 372px;
    position: relative;
    width: 246px;
  }
  
.button {
    -webkit-backdrop-filter: blur(185.9px) brightness(100%);
    align-items: center;
    /*backdrop-filter: blur(185.9px) brightness(100%;*/
    background-color: #5551ff;
    border-radius: 20px;
    box-shadow: 0px 38.05px 98.57px #00000040;
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 32px 16px;
    position: relative;
    width: 246px;
    cursor: pointer;

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }

.text-wrapper-2 {
    color: $primairewhite;
    font-family: $heading-h4-font-family;
    font-size: $heading-h4-font-size;
    font-style: $heading-h4-font-style;
    font-weight: $heading-h4-font-weight;
    letter-spacing: $heading-h4-letter-spacing;
    line-height: $heading-h4-line-height;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
.mainImage {
    height: 809px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1312px;
  }




.heroSectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  gap: 0px;
}

.heroSectionContainer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

}

.heroSectionTitle {
  width: 800px;
  flex-grow: 1;
}

.heroSectionTopImage {
  width: 30%; /* or any other size */
  height: auto; /* Adjust the height automatically */
  overflow: hidden;   
}

.heroSectionTopImage img {
  width: 100%; /* Makes the image fully occupy the container width */
  height: auto; /* Adjust the height to maintain the aspect ratio */
  object-fit: cover; /* Optional: Cover the container without losing aspect ratio */
}

.heroSectionTopTitle {
  width: 70%; /* or any other size */
  padding: 20px; /* Optional: Adds some space around the text */
}

.heroSectionTopTitle p {
  font-size: 4vw; /* Adjusts size based on the width of the viewport */
  color: transparent;
  font-family: $heading-h2-font-family;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 69px;
  margin-top: -1px;
  position: relative;
}

.heroSectionTopTitle1 {
  font-family: $heading-h2-font-family;
  font-weight: 200;
  color: #1e344f
}
.heroSectionTopTitle2 {
  color: #5551ff
}

.heroSectionContainer2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.heroSectionContainer3{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  gap: 30px
}


