@import '../../../styles/variables.scss';

.container,
.container * {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 666px;
  position: relative;
  width: 100%;
}
.title {
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container__heading {
  text-align: left;
  font-family: $heading-h2-font-family;
  font-size: $heading-h2-font-size;
  font-weight: $heading-h2-font-weight;
  position: relative;
  width: 320px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.heading-span {
  color: #1e344f;
  font-family: $heading-h2-font-family;
  font-size: 43px;
  font-weight: $heading-h2-font-weight;
}
.heading-span2 {
  color: #5552ff;
  font-family: $heading-h2-font-family;
  font-size: 43px;
  font-weight: $heading-h2-font-weight;
}
.container__rectangle {
  border-radius: 100px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  flex-shrink: 0;
  width: 150px;
  height: 57px;
  position: absolute;
  left: 160px;
  top: 11px;
  object-fit: cover;
  &--bottom {
    top: 80px;
  }
}
.container__container-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 320px;
  position: relative;
}
.container__button {
  background: #5552ff;
  border-radius: 20px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 237px;
  position: relative;
  box-shadow: 0px 38.05px 98.57px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(92.95px);
  top: -170px
}
.container__voir-le-drop {
  color: $primairewhite;
  text-align: center;
  font-family: $heading-h4-font-family;
  font-size: $heading-h4-font-size;
  font-weight: $heading-h4-font-weight;
  position: relative;
}

.containerImageHeroSectionMobile {
    padding-top: 30px;
}

.imageHeroSectionMobile {
  border-radius: 0px;
  flex-shrink: 0;
  width: 320px;
  height: 508.5px;
  position: relative;
  top: -100px;
  overflow: visible;
  object-fit: cover;
}
