@import "../../../../styles/variables.scss";


.modal-backdrop,
.acquire-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal,
.acquire-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  //max-width: 500px;
  width: 550px;
  margin: 0 auto;
  //max-height: 70vh; /* Maximum height of the modal */
  overflow-y: auto; /* Add vertical scrollbar if needed */
  overflow-x: hidden;
  max-height: 90vh;
}

.buttonPreBuyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #5552ff;
  padding: 10px;
  border-radius: 5px;
}

.messageNotConnected {
  font-family: $heading-h2-font-family;
}

.rectangleSendEmail {
  background: #465c79;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 4px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}