.LP .carousel-artists {
    height: 1820px;
    left: 0;
    position: absolute;
    top: 2403px;
    width: 1440px;
  }

  
.LP .carousel-artists:hover .arrow {
opacity: 1;
}

.LP .carousel-artists:hover {
opacity: 1;
}
 
.LP .arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
opacity: 0;
z-index: 99;
transition: opacity 0.5s ease;
cursor: pointer;
/* Additional styling for the arrows */
}

.LP .left-arrow {
width: 32px;
height: 32px;
left: 10px;
}

.LP .right-arrow {
right: 10px;
}

.LP .frame-artists {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 80px;
    left: 0;
    position: absolute;
    top: 108px;
}

.LP .artists-title {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
}
  
  