.LP .footer {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 64px 96px;
    position: absolute;
    top: 6236px;
    width: 1440px;
  }

  
  .index .footer
{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 64px 96px;
    top: 6236px;
    width: 1440px;
  }

  .index .footer-left,
  .LP .footer-left {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
    
  
  .logo-social-network {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
  }

  .footer-our-pages {
    height: 152px;
    position: relative;
    width: 115px;
  }

  .footer-company {
    height: 123px;
    position: relative;
    width: 111px;
  }
  
  .footer-left-footer {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-paragraphe-font-family);
    font-size: var(--text-paragraphe-font-size);
    font-style: var(--text-paragraphe-font-style);
    font-weight: var(--text-paragraphe-font-weight);
    letter-spacing: var(--text-paragraphe-letter-spacing);
    line-height: var(--text-paragraphe-line-height);
    position: relative;
    width: 223px;
  }
  
  
  
  
  