.LP .footer {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 64px 96px;
    position: absolute;
    top: 6236px;
    width: 1440px;
  }

  .home .footer,
  .index .footer
{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 64px 96px;
    top: 6236px;
    width: 1440px;
  }

  .home .footer-left,
  .index .footer-left,
  .LP .footer-left {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
    
  .home .footer-right,
  .index .footer-right,
  .LP .footer-right {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 56px;
    position: relative;
  }
  

  .logo-social-network {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
  }

  .footer-our-pages {
    height: 152px;
    position: relative;
    width: 115px;
  }

  .footer-our-pages-title {
    color: var(--primaireblack);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 0;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    position: absolute;
    top: 0;
  }
  
  .footer-our-pages-line-1 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: absolute;
    top: 45px;
  }

  .footer-our-pages-line-2 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: absolute;
    top: 74px;
  }

  .footer-our-pages-line-3 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: absolute;
    top: 103px;
  }

  .footer-our-pages-line-4 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: absolute;
    top: 132px;
  }

  .footer-company {
    height: 123px;
    position: relative;
    width: 111px;
  }
  
  .line-2 {
    height: 196px;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .footer-contact {
    height: 123px;
    margin-right: -8px;
    position: relative;
    width: 152px;
  }
  
  .footer-left-footer {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-paragraphe-font-family);
    font-size: var(--text-paragraphe-font-size);
    font-style: var(--text-paragraphe-font-style);
    font-weight: var(--text-paragraphe-font-weight);
    letter-spacing: var(--text-paragraphe-letter-spacing);
    line-height: var(--text-paragraphe-line-height);
    position: relative;
    width: 223px;
  }
  
  
  
  
  