/* Figma Styles of your File */
:root {
    /* Colors */
    --bg-bgcolor: linear-gradient(
      135.65deg,
      rgba(236, 238, 250, 1) 0%,
      rgba(234, 236, 251, 1) 52.60416865348816%,
      rgba(225, 229, 255, 1) 100%
    );
    --bleu-bleusombre-100: #021056;
    --bleu-bleusombre-200: #2b3058;
    --bleu-bleusombre-000: #000026;
    --bleu-bleusombre-300: #6979a7;
    --jaune-jaune: #f2c832;
    --jaune-jauneclaire: #f7da59;
    --primaire-white: #f6f8ff;
    --primaire-black: #000035;
  
    /* Fonts */
    --heading-h-1-font-family: Unbounded-Bold, sans-serif;
    --heading-h-1-font-size: 64px;
    --heading-h-1-line-height: normal;
    --heading-h-1-font-weight: 700;
    --heading-h-1-font-style: normal;
    --heading-h-2-font-family: Unbounded-SemiBold, sans-serif;
    --heading-h-2-font-size: 48px;
    --heading-h-2-line-height: normal;
    --heading-h-2-font-weight: 600;
    --heading-h-2-font-style: normal;
    --heading-h-3-font-family: Unbounded-Medium, sans-serif;
    --heading-h-3-font-size: 24px;
    --heading-h-3-line-height: normal;
    --heading-h-3-font-weight: 500;
    --heading-h-3-font-style: normal;
    --heading-h-4-font-family: Unbounded-Medium, sans-serif;
    --heading-h-4-font-size: 16px;
    --heading-h-4-line-height: normal;
    --heading-h-4-font-weight: 500;
    --heading-h-4-font-style: normal;
    --text-linktext-font-family: Montserrat-Medium, sans-serif;
    --text-linktext-font-size: 16px;
    --text-linktext-line-height: normal;
    --text-linktext-font-weight: 500;
    --text-linktext-font-style: normal;
    --text-paragraphe-font-family: Montserrat-Regular, sans-serif;
    --text-paragraphe-font-size: 16px;
    --text-paragraphe-line-height: normal;
    --text-paragraphe-font-weight: 400;
    --text-paragraphe-font-style: normal;
    --special-button-font-family: Inter-Regular, sans-serif;
    --special-button-font-size: 12px;
    --special-button-line-height: normal;
    --special-button-font-weight: 400;
    --special-button-font-style: normal;
  
    /* Effects */
    --background-blur-backdrop-filter: blur(22px);
  }
  

