@import '../../../styles/variables.scss';

.nftCollection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nftCard {
    position: relative;
    margin-top: 40px;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: $bleubleu-sombre-100;
    width: calc(25% - 40px);

}

.nftCardBackground{
    height: 260px;
    position: relative;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/inrealartlanding-3a094.appspot.com/o/presale%2FdropPanel%2Fartist4.jpg?alt=media&token=3fd1c5ba-06e6-448a-8f47-e0f840b9ac8b'); 
    background-size: contain; 
    background-position: center center; 
    background-repeat: no-repeat;
}

.nftCardInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}    