.cookie-banner {
    /*
    width: 100%;
    z-index: 888;
    border-radius: 20px;
    */
    bottom: 16px;
    left: 16px;
    width: 100%;
    max-width: 420px;
    position: fixed;
    transform: translateY(0);
    transition: transform .7s cubic-bezier(.5,.25,.35,1);
    visibility: visible;
    z-index: 9998;
    
  }
  
.cookieContainer {
 
    bottom: 16px;
    left: 16px;
    width: 100%;
    max-width: 420px;
    position: fixed;
    transform: translateY(0);
    transition: transform .7s cubic-bezier(.5,.25,.35,1);
    visibility: visible;
    z-index: 9998;
}  

.cookieBanner {

}

.cookieBannerInner {
    padding: 16px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 150%;
    color: black;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    max-width: 600px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.08),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
}

.cookieButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.cookieBannerButton {
  height: 32px;
  padding: 0 12px;
  border-radius: 128px;
  font-weight: 500!important;
  white-space: nowrap;
  font-family: var(--font-sans);
  font-size: 14px;
  transition: background .15s ease,border .15s ease;
  cursor: pointer;
  outline: none;
  border: unset;
}

.buttonSecondary {
  background: black;
  color: white;
}