.teamTitle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: "Unbounded", sans-serif;
    /*font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);*/
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
    position: relative;
    padding-bottom: 20px;

}
.frame-team {
    background: var(--primaire-white, #f6f8ff);
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;
    border-image: var(
      --bg-bgcolor,
      linear-gradient(
        135.65deg,
        rgba(236, 238, 250, 1) 0%,
        rgba(234, 236, 251, 1) 52.60416865348816%,
        rgba(225, 229, 255, 1) 100%
      )
    );
    border-image-slice: 1;
    padding: 0px 80px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1248px;
    position: relative;
    overflow: hidden;
  }

  .frame-team-carousel {
    background: var(--primaire-white, #f6f8ff);
    border-radius: 60px;
    border-width: 1px;
    border-style: solid;
    border-image: var(
      --bg-bgcolor,
      linear-gradient(
        135.65deg,
        rgba(236, 238, 250, 1) 0%,
        rgba(234, 236, 251, 1) 52.60416865348816%,
        rgba(225, 229, 255, 1) 100%
      )
    );
    border-image-slice: 1;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 900px;
    min-height: 600px;
    position: relative;
    overflow: hidden;
  }

  .frame-team-member {
    height: 650px;
    object-fit: cover;
    position: relative;
    width: 474px;
    animation: fadeIn 4000ms ease-in-out;
    overflow: hidden;
  }
  
  .frame-team-member > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
  }

  .frame-team-member-carousel {
    height: 650px;
    object-fit: cover;
    position: relative;
    width: 100%;
    animation: fadeIn 4000ms ease-in-out;
    overflow: hidden;
  }
  
  .frame-team-member-carousel > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
  }


  .team-member-p-1 {
    color: #000000;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-3-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-3-font-size, 24px);
    font-weight: var(--heading-h-3-font-weight, 500);
    position: relative;
    align-self: stretch;
    padding: 5px;
  }
  .team-member-p-2 {
    color: #000000;
    text-align: left;
    font-family: var(
      --text-paragraphe-font-family,
      "Montserrat-Regular",
      sans-serif
    );
    font-size: var(--text-paragraphe-font-size, 16px);
    font-weight: var(--text-paragraphe-font-weight, 400);
    position: relative;
    align-self: stretch;
    padding: 5px;
  }
  .chara {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }

  .photo-team-member {  
    transition: opacity 0.5s ease;
  }
  
  .chara-carousel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 40px;
  }

  .member-name {
    color: #000000;
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
    align-self: stretch;
  }
  .member-name-carousel {
    color: #000000;
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);*/
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
    align-self: stretch;
  }

  .member-role {
    color: #465c79;
    text-align: left;
    font-family: var(
      --text-paragraphe-font-family,
      "Montserrat-Regular",
      sans-serif
    );
    font-size: var(--text-paragraphe-font-size, 16px);
    font-weight: var(--text-paragraphe-font-weight, 400);
    position: relative;
    align-self: stretch;
  }

  .member-role-carousel {
    color: #465c79;
    text-align: center;
    font-family: var(
      --text-paragraphe-font-family,
      "Montserrat-Regular",
      sans-serif
    );
    font-size: var(--text-paragraphe-font-size, 16px);
    font-weight: var(--text-paragraphe-font-weight, 400);
    position: relative;
    align-self: stretch;
  }

  .wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-height: 460px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 99;
    transition: opacity 0.5s ease;
    cursor: pointer;
  /* Additional styling for the arrows */
  }
  
  .def {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  
  .left-arrow {
    width: 32px;
    height: 32px;
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  
  .frame-team:hover .arrow {
    opacity: 1;
  }
  
  .frame-team:hover {
    opacity: 1;
  }
  
  .colum {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
    position: relative;
  }  
  
  @media (max-width: 1250px) {
    .frame-team {
        width: 1000px; 
    }
  }

  @media (max-width: 1000px) {
    .frame-team {
        width: 850px; 
    }
    .frame-team-member {
        height: 740px; 
    }
  }

  @media (max-width: 900px) {
    .frame-team {
        flex-direction: column;
        padding-right: 0px;
        width: 800px; 
    }
    .frame-team-carousel {
      flex-direction: column;
      padding-right: 0px;
      width: 800px; 
    }
    .frame-team-member {
        height: 650px; 
        width: 100%;
    }
    .wrapper-text {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .member-name {
        text-align: center;
    }
    .member-role {
        text-align: center;
    }

  }

  @media (max-width: 700px) {
    .frame-team {
        flex-direction: column;
        padding-right: 0px;
        width: 550px; 
    }
    .frame-team-carousel {
      flex-direction: column;
      padding-right: 0px;
      width: 550px; 
    }

    .frame-team-member-carousel {
      height: 500px;
      object-fit: cover;
      position: relative;
      width: 100%;
      animation: fadeIn 4000ms ease-in-out;
      overflow: hidden;
    }

    .frame-team-member {
        height: 500px; 
        width: 100%;
    }
    .wrapper-text {
        align-items: center;
    }

    .member-name {
        text-align: center;
    }
    .member-role {
        text-align: center;
    }
    .team-member-p-1 {
        font-size: large;
    }
    .team-member-p-2 {
        font-size: smaller;
    }


  }
  
  @media (max-width: 500px) {
    .frame-team {
        flex-direction: column;
        padding-right: 0px;
        width: 400px; 
    }
    .frame-team-carousel {
      flex-direction: column;
      padding-right: 0px;
      width: 400px; 
    }

  .frame-team-member {
        height: 500px; 
        width: 100%;
    }

    .frame-team-member-carousel {
      height: 350px;
      object-fit: cover;
      position: relative;
      width: 100%;
      animation: fadeIn 4000ms ease-in-out;
      overflow: hidden;
    }

    .wrapper-text {
        align-items: center;
    }

    .member-name {
        text-align: center;
    }
    .member-role {
        text-align: center;
    }

    .team-member-p-1 {
        font-size: large;
    }
    .team-member-p-2 {
        font-size: x-small;
    }

  }

  @media (max-width: 400px) {
    .frame-team {
        flex-direction: column;
        padding-right: 0px;
        width: 350px; 
    }
    .frame-team-carousel {
      flex-direction: column;
      padding-right: 0px;
      width: 350px; 
    }

  .frame-team-member {
        height: 400px; 
        width: 100%;
    }

    .frame-team-member-carousel {
      height: 300px;
      object-fit: cover;
      position: relative;
      width: 100%;
      animation: fadeIn 4000ms ease-in-out;
      overflow: hidden;
    }

    .wrapper-text {
        align-items: center;
    }

    .member-name {
        text-align: center;
    }
    .member-role {
        text-align: center;
    }

    .team-member-p-1 {
        font-size: large;
    }
    .team-member-p-2 {
        font-size: x-small;
    }

  }

