.frame36598 {
    background: #6979a7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 1246px;
    height: 438px;
    position: relative;
  }
  
  .frame36563 {
    padding: 0px 0px 0px 157px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }

  .frame3351 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .newsletter {
    color: #ffffff;
    text-align: left;
    font-family: "Unbounded", sans-serif;
    font-size: 48px;
    font-weight: 600;
    /*font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
    */
    position: relative;
  }
  .newsletterP1 {
    color: #ffffff;
    text-align: left;
    font-family: var(
      --text-paragraphe-font-family,
      "Montserrat-Regular",
      sans-serif
    );
    font-size: var(--text-paragraphe-font-size, 16px);
    font-weight: var(--text-paragraphe-font-weight, 400);
    position: relative;
    width: 423px;
  }
  
  .group159 {
    flex-shrink: 0;
    width: 383.36px;
    height: 68px;
    position: static;
  }
  
  .envoyezVotreMail {
    color: #ffffff;
    text-align: left;
    font-family: var(--textbouton-font-family, "Montserrat-Medium", sans-serif);
    font-size: var(--textbouton-font-size, 18px);
    line-height: var(--textbouton-line-height, 150%);
    font-weight: var(--textbouton-font-weight, 500);
    position: relative;
    left: 20px;
    top: 50px;
    width: 223.37px;
  }
  
  .rectangle96 {
    border-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 383.36px;
    height: 68px;
    position: relative;
    /*
    position: absolute;
    left: 157px;
    top: 188px;
    */
  }
  .rectangle97 {
    background: #465c79;
    border-radius: 20px;
    width: 54.33px;
    height: 54px;
    position: relative;
    top: -60px;
    left: 300px;
    /*
    position: absolute;
    left: 477.98px;
    top: 195px;
    */
  }
  
  .email {
    display: 'flex';
    flex-direction: 'row';
    gap: '10px'; 
    align-items: 'center'    
  }

  .rectangleSendEmail {
    background: #465c79;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagePS {
    flex-shrink: 0;
    width: 128px;
    height: 128px;
    position: absolute;
    left: 900px;
    top: 140px;
  }
  
  
  @media (max-width: 1200px) {
    .frame36598 {
      width: 900px;
    }

    .imagePS {
      left: 700px;
    }

    .frame36563 {
      padding: 0px 0px 0px 100px;
    }  

    .newsletter {
      color: #ffffff;
      text-align: left;
      font-family: "Unbounded", sans-serif;
      font-size: 43px;
      font-weight: 600;
      position: relative;
    }
  
  }  

  @media (max-width: 1000px) {
    .frame36598 {
      width: 800px;
    }

    .imagePS {
      left: 600px;
    }

    .frame36563 {
      padding: 0px 0px 0px 50px;
    }  

    .newsletter {
      color: #ffffff;
      text-align: left;
      font-family: "Unbounded", sans-serif;
      font-size: 38px;
      font-weight: 600;
      position: relative;
    }

  }    

  @media (max-width: 800px) {
    .frame36598 {
      width: 600px;
    }

    .imagePS {
      left: 200px;
    }

    .frame36563 {
      padding: 0px 0px 0px 5px;
    }  

  }    