.feature {
    display: flex;
    flex-direction: row;
    gap: 216px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    height: 400px;
  }

  .frame36597 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .frame48095734 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .rectangle62 {
    border-radius: 40px;
    flex-shrink: 0;
    width: 525px;
    height: 500px;
    position: relative;
  }

  .frame48095735 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: 132px;
    top: 71px;
  }

  .frame48095733 {
    display: flex;
    flex-direction: column;
    gap: 95px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .frame303 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .iraAmbition {
    color: var(--bleu-bleusombre-100, #021056);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    width: 379px;
  }
  
  .comment {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);*/
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
    position: relative;
    width: 394px;
  }
  
  a.joinIRALink {
    text-decoration: none;
  }
  
  a.startIRALink {
    text-decoration: none;
  }
  
  .linkButton {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .button2 {
    cursor: pointer;
    background: var(--primaire-white, #f6f8ff);
    border-radius: 10px;
    border-image: var(
      --bg-bgcolor,
      linear-gradient(
        135.65deg,
        rgba(236, 238, 250, 1) 0%,
        rgba(234, 236, 251, 1) 52.60416865348816%,
        rgba(225, 229, 255, 1) 100%
      )
    );
    border-image-slice: 1;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .rejoindreIra2 {
    color: var(--primaire-black, #000035);
    text-align: center;
    font-family: var(
      --text-linktext-font-family,
      "Montserrat-Medium",
      sans-serif
    );
    font-size: var(--text-linktext-font-size, 16px);
    font-weight: var(--text-linktext-font-weight, 500);
    position: relative;
  }
  
  .button3 {
    background: var(
      --bg-bgcolor,
      linear-gradient(
        135.65deg,
        rgba(236, 238, 250, 1) 0%,
        rgba(234, 236, 251, 1) 52.60416865348816%,
        rgba(225, 229, 255, 1) 100%
      )
    );
    border-radius: 10px;
    border-style: solid;
    border-color: var(--primaire-white, #f6f8ff);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .jeDemarre2 {
    color: var(--primaire-black, #000035);
    text-align: center;
    font-family: var(
      --text-linktext-font-family,
      "Montserrat-Medium",
      sans-serif
    );
    font-size: var(--text-linktext-font-size, 16px);
    font-weight: var(--text-linktext-font-weight, 500);
    position: relative;
  }
  
  .rectangle210 {
    border-radius: 300px 300px 20px 20px;
    flex-shrink: 0;
    width: 424px;
    height: 518px;
    position: relative;
  }
  
  @media (max-width: 1150px) {

    .feature {
      display: flex;
      flex-direction: row;
      gap: 150px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
    }
  
  }  

  @media (max-width: 1000px) {

    .feature {
      display: flex;
      flex-direction: row;
      gap: 70px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
    }

    .rectangle62 {
      border-radius: 40px;
      flex-shrink: 0;
      width: 500px;
      height: 470px;
      position: relative;
    }
  
    .rectangle210 {
      border-radius: 300px 300px 20px 20px;
      flex-shrink: 0;
      width: 400px;
      height: 500px;
      position: relative;
    }
  
  }  

  @media (max-width: 900px) {

    .feature {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
    }

    .rectangle62 {
      border-radius: 40px;
      flex-shrink: 0;
      width: 400px;
      height: 300px;
      position: relative;
    }
  
    .rectangle210 {
      border-radius: 300px 300px 20px 20px;
      flex-shrink: 0;
      width: 300px;
      height: 350px;
      position: relative;
    }
  
  }  
