.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0; /* Background color for the header */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 column by default */
    gap: 10px; /* space between images */
    padding: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin: 30px 20px 0px 20px;
}

.image-container img {
    width: 100%; /* Responsive image */
    height: auto;
}

@media screen and (min-width: 500px) {
    /* For screens wider than 500px, adjust to 2x3 grid */
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    /* For screens wider than 800px, adjust to 3x2 grid */
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
