.frame-48095766,
.frame-48095766 * {
  box-sizing: border-box;
}
.frame-48095766 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-48095766__rectangle-39769 {
  border-radius: 0px;
  flex-shrink: 0;
  width: 1312px;
  height: 743px;
  position: relative;
  overflow: visible;
  object-fit: cover;
}
.frame-48095766__frame-48095764 {
  display: flex;
  flex-direction: column;
  gap: 483px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 42px;
}
.frame-48095766__frame-48095765 {
  padding: 0px 0px 0px 42px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-48095766__button {
  background: #5552ff;
  border-radius: 20px;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 237px;
  position: relative;
  box-shadow: 0px 38.05px 98.57px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(92.95px);
}
.frame-48095766__rejoindre-le-test-net {
  color: var(--primaire-white, #f6f8ff);
  text-align: center;
  font-family: var(--heading-h4-font-family, "Unbounded-Medium", sans-serif);
  font-size: var(--heading-h4-font-size, 16px);
  font-weight: var(--heading-h4-font-weight, 500);
  position: relative;
}
.frame-48095766__frame-48095763 {
  display: flex;
  flex-direction: row;
  gap: 716px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-48095766__heading {
  text-align: left;
  font-family: "Unbounded-Regular", sans-serif;
  font-size: 70px;
  line-height: 69px;
  font-weight: 400;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.heading-span {
  color: #1e344f;
  font-family: "Unbounded-Regular", sans-serif;
  font-size: 70px;
  line-height: 69px;
  font-weight: 400;
}
.heading-span2 {
  color: #5552ff;
  font-family: "Unbounded-Regular", sans-serif;
  font-size: 70px;
  line-height: 69px;
  font-weight: 400;
}
.frame-48095766__faites-partie-de-l-exp-rience-qui-red-finira-le-monde-de-l-art {
  color: var(--bleu-bleu-sombre-100, #021056);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  width: 198px;
}
