@import "../../../styles/variables.scss";
.frame-5 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.frame-6 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 1263px;
}

.frame-7 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 673px;
}

.frame-8 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 167px;
}

.text-wrapper-4 {
  color: $primaireblack;
  font-family: $heading-h3-font-family;
  font-size: $heading-h3-font-size;
  font-style: $heading-h3-font-style;
  font-weight: $heading-h3-font-weight;
  letter-spacing: $heading-h3-letter-spacing;
  line-height: $heading-h3-line-height;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 41px;
  position: relative;
}

.frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.rectangle-3 {
  height: 489px;
  position: relative;
  width: 389px;
}

.frame-12 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 265px;
  padding: 10px;
  position: absolute;
  top: 0;
}

.button-2 {
  all: unset;
  align-items: center;
  background-color: $primairewhite;
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 16px;
  position: relative;
  z-index: 11;
  width: 90%;
  margin-bottom: 10px;
  margin-top: auto;
}

.button-more {
  transition: all 0.2s ease;
  opacity: 0;
  color: white;
  position: absolute;
  bottom: 100px;
  display: flex;
  align-items: center;
  background: rgba(84, 84, 84, 0.3);
  -webkit-backdrop-filter: blur(26px);
  backdrop-filter: blur(26px);
  border-radius: 10px;
  justify-content: center;
  padding: 16px;
  z-index: 11;
  svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.text-wrapper-5 {
  color: $primaireblack;
  font-family: $text-link-text-font-family;
  font-size: $text-link-text-font-size;
  font-style: $text-link-text-font-style;
  font-weight: $text-link-text-font-weight;
  letter-spacing: $text-link-text-letter-spacing;
  line-height: $text-link-text-line-height;
  position: relative;
  text-align: center;
  width: fit-content;
}

.textButtonAcquire {
  color: $primaireblack;
  font-family: $text-link-text-font-family;
  font-size: $text-link-text-font-size;
  font-style: $text-link-text-font-style;
  font-weight: $text-link-text-font-weight;
  letter-spacing: $text-link-text-letter-spacing;
  line-height: $text-link-text-line-height;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.arrow {
  height: 24px !important;
  position: relative !important;
  width: 45px !important;
}

/**

**/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0; /* Background color for the header */
  width: 85%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.grid-wrapper {
  flex-grow: 1; /* Allow the wrapper to grow and fill the space */
  width: 100%; /* Ensures it tries to occupy full width */
}

.img-frame {
  position: relative;
  padding: 0;
  margin: 0;
  border: solid 3px #000000;
  max-width: 600px;
  width: 80%;
  margin: 10px auto;
  box-shadow: -3px -3px 12px #999;
  margin-top: auto;
}

.img--noBorder {
    border: none!important;
    box-shadow: none;
}

.img-main {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  
}

.img-overlay {
  position: absolute;
  transition: all 0.2s ease;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column by default */
  gap: 40px 10px; /* space between images */
  margin: 0 auto; //Center horizontally the dic according to its parent
  padding: 0px;
  width: 80%;
}

.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  gap: 20px;
  border-radius: 20px;
  margin: 20px 15px 0px 15px;
  background: #D5DDF1;
  min-height: 420px;
  // background-image: radial-gradient(at 93% 16%, #fdd9c95e 0, #0000 50%),
  //   radial-gradient(at 10% 31%, #edc5d357 0, #0000 50%), radial-gradient(at 16% 83%, #d0daf1c2 0, #0000 50%),
  //   radial-gradient(at 91% 49%, #edd8d469 0, #0000 50%), radial-gradient(at 82% 88%, #d3d8e3 0, #0000 50%),
  //   linear-gradient(#d3d3d34d, #d3d3d34d);
  z-index: 1;
  &:hover {

    .img-overlay,
    .button-more {
      opacity: 1;
    }
  }
  &--active {
    background-size: contain;
    background-position: center;
  }
}

.image-container img {
  width: 100%; /* Responsive image */
  height: auto;
}

.image-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 15px 0px 15px;
}

.image-container2 img {
  width: 100%; /* Responsive image */
  height: auto;
}

.artworkUnit {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  background-size: 80% auto !important;
}

.artworkUnit > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.frameDetailArtWorkLink {
  transition: all 0.2s ease;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
}

.frameDetailArtWorkLinkCorner {
  background-color: white;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  border-radius: 0px 5px;
  font-family: "Unbounded";
}

.frameDetailArtWorkCreator {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: -29px;
  z-index: 11;
}

.frameDetailArtWorkCreatorName {
  background-color: white;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  border-radius: 0px;
  font-family: "Unbounded", sans-serif;
}

.detailArtworkLink {
  background-color: red;
  padding: 2px 8px 2px 8px;
  border-radius: 0px 5px;
  font-family: "Unbounded", sans-serif;
}

.modal-backdrop,
.acquire-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal,
.acquire-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  //max-width: 500px;
  width: 550px;
  margin: 0 auto;
  //max-height: 70vh; /* Maximum height of the modal */
  overflow-y: auto; /* Add vertical scrollbar if needed */
  overflow-x: hidden;
  max-height: 90vh;
}

@media screen and (min-width: 500px) {
  /* For screens wider than 500px, adjust to 2x3 grid */
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }
  .header {
    width: 75%;
  }
}

.buttonPreBuyContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #5552ff;
  padding: 10px;
  border-radius: 5px;
}

.messageNotConnected {
  font-family: $heading-h2-font-family;
}

.rectangleSendEmail {
  background: #465c79;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 4px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1800px) {
  .artworkUnit {
    width: 100%;
    height: 500px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .artworkUnit {
    width: 100%;
    height: 400px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .artworkUnit {
    width: 100%;
    height: 300px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  /* For screens wider than 800px, adjust to 3x2 grid */
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
