.footer {
  background: var(
    --bg,
    linear-gradient(
      135.65deg,
      rgba(236, 238, 250, 1) 0%,
      rgba(234, 236, 251, 1) 52.60416865348816%,
      rgba(225, 229, 255, 1) 100%
    )
  );
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 600px;
  position: relative;
  box-shadow: 0px -8px 12px 0px rgba(167, 176, 192, 0.32);
}
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 110px;
  position: relative;
}
.frame-3353 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.fichier-3-1 {
  display: flex;
  flex-direction: row;
  gap: 4.43px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32.43px;
  height: 32.43px;
  position: relative;
  overflow: hidden;
}
.calque-1-2 {
  flex-shrink: 0;
  width: 32.43px;
  height: 32.43px;
  position: relative;
  overflow: visible;
}
.ira {
  flex-shrink: 0;
  width: 60.21px;
  height: 21.24px;
  position: relative;
  overflow: visible;
}
.frame-48095803 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.link-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.footerBlockLineMobile {
  color: var(--other-secondary, #183544);
  text-align: left;
  font-family: var(
    --header-14-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--header-14-medium-font-size, 14px);
  line-height: var(--header-14-medium-line-height, 140%);
  font-weight: var(--header-14-medium-font-weight, 500);
  position: relative;
}

.newsletter2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.h-3 {
  color: var(--brand-500, #284f63);
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 320px;
}

.email {
  display: flex;
  flex-direction: row;
  gap : 10px;
  align-items: center;
}

.rectangleSendEmail {
  background: #465c79;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 4px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background: var(--neutral-50, #f9fafb);
  border-radius: 10px;
  border-style: solid;
  border-color: var(--neutral-400, #c7d3d9);
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.frame-55 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.adresse-mail {
  color: var(--neutral-600, #71838c);
  text-align: left;
  font-family: var(
    --header-16-medium-font-family,
    "Montserrat-Medium",
    sans-serif
  );
  font-size: var(--header-16-medium-font-size, 16px);
  line-height: var(--header-16-medium-line-height, 140%);
  font-weight: var(--header-16-medium-font-weight, 500);
  position: relative;
}
.buton-primary-instance {
  background: var(--fond-header, #465c79) !important;
  padding: 10px !important;
  flex-shrink: 0 !important;
}
.link-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  top: -10px;
}
.akar-icons-linkedin-box-fill {
  border-radius: 100px;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.frame-3202 {
  background: var(--blanc, #f6f8ff);
  border-radius: 100px;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
}
.icon-facebook-instance {
  width: 35px !important;
  height: 35px !important;
  position: absolute !important;
  left: calc(50% - 16.5px) !important;
  top: calc(50% - 17.5px) !important;
}
.akar-icons-instagram-fill {
  border-radius: 100px;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
  overflow: visible;
}
.frame-3203 {
  background: var(--blanc, #f6f8ff);
  border-radius: 100px;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  position: relative;
}
.icon-twitter-instance {
  width: 35px !important;
  height: 35px !important;
  position: absolute !important;
  left: calc(50% - 16.5px) !important;
  top: calc(50% - 17.5px) !important;
}
.header {
  background: #5552ff;
  border-radius: 100px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 320px;
  position: absolute;
  left: calc(50% - 160px);
  top: 717px;
}
.logo2 {
  flex-shrink: 0;
  width: 101.49px;
  height: 32.43px;
  position: static;
}
.fichier-3-12 {
  display: flex;
  flex-direction: row;
  gap: 4.43px;
  align-items: center;
  justify-content: center;
  width: 32.43px;
  height: 32.43px;
  position: absolute;
  left: 24px;
  top: 20px;
  overflow: hidden;
}
.calque-1-22 {
  flex-shrink: 0;
  width: 32.43px;
  height: 32.43px;
  position: relative;
  overflow: visible;
}
.ira2 {
  width: 60.21px;
  height: 21.24px;
  position: absolute;
  left: 65.28px;
  top: 25.59px;
  overflow: visible;
}
.system-menu-instance {
  flex-shrink: 0 !important;
}

/* nested override styles */
.system-paper-plane {
  flex-shrink: 0 !important;
}

a.footerLink {
  text-decoration: none;
  color: var(--other-secondary, #183544);
}  


@media (max-width: 650px) {
  .footer {
    width: 400px;
  }

}  
