.footer
{
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 64px 96px;
  top: -50px;
  width: 1440px;
  position: relative;
}

.logo-social-network {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.logo-2 {
  height: 32.43px;
  position: relative;
  width: 101.49px;
}

.footer-left {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.footer-right {
  align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 56px;
    position: relative;
}

.add {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}

.footerBlock1 {
    height: 152px;
    position: relative;
    width: 115px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footerBlock1Title {
    color: var(--primaireblack);
    font-family: var(--heading-h4-font-family);
    font-size: var(--heading-h4-font-size);
    font-style: var(--heading-h4-font-style);
    font-weight: var(--heading-h4-font-weight);
    left: 0;
    letter-spacing: var(--heading-h4-letter-spacing);
    line-height: var(--heading-h4-line-height);
    position: relative;
    margin-bottom: 5px;
  }
  
  .footerBlockLine {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: relative;
  }

  .footerOurPagesLine2 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: relative;
    /*top: 74px;*/
  }

  .footerOurPagesLine3 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: relative;
    /*top: 103px;*/
  }

  .footerOurPagesLine4 {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-link-text-font-family);
    font-size: var(--text-link-text-font-size);
    font-style: var(--text-link-text-font-style);
    font-weight: var(--text-link-text-font-weight);
    left: 0;
    letter-spacing: var(--text-link-text-letter-spacing);
    line-height: var(--text-link-text-line-height);
    position: relative;
    /*top: 132px;*/
  }

  .footerBlock2 {
    height: 123px;
    position: relative;
    width: 111px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .line2 {
    height: 196px;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .footerContact {
    height: 123px;
    margin-right: -8px;
    position: relative;
    width: 152px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .footerLeftFooter {
    color: var(--bleubleu-sombre-300);
    font-family: var(--text-paragraphe-font-family);
    font-size: var(--text-paragraphe-font-size);
    font-style: var(--text-paragraphe-font-style);
    font-weight: var(--text-paragraphe-font-weight);
    letter-spacing: var(--text-paragraphe-letter-spacing);
    line-height: var(--text-paragraphe-line-height);
    position: relative;
    width: 223px;
  }
  
a.footerLink {
    text-decoration: none;
    color: var(--bleubleu-sombre-300);
}  
  
.line2 {
  height: 196px;
  object-fit: cover;
  position: relative;
  width: 1px;
}


@media (max-width: 1250px) {
  .footer {
    width: 1000px;
  }

}  



  
  