.lp-mobile__frame-48095810 {
    display: flex;
    flex-direction: column;
    gap: 341px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .lp-mobile__frame-48095809 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 360px;
    position: relative;
  }
  
  .lp-mobile__heading {
    text-align: center;
    font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
    position: relative;
    width: 370px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  
  .lp-mobile-heading-span {
    color: #1e344f;
    font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
  }
  
  .lp-mobile-heading-span2 {
    color: #5552ff;
    font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
  }
  
  .lp-mobile__container-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 320px;
    position: relative;
  }
  
  .lp-mobile__frame-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  
  .lp-mobile__button {
    background: #5552ff;
    border-radius: 20px;
    padding: 24px 16px 24px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 237px;
    position: relative;
    box-shadow: 0px 38.05px 98.57px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(92.95px);
  }
  .lp-mobile__rejoindre-ira {
    color: var(--primaire-white, #f6f8ff);
    text-align: center;
    font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
  }
.lp-mobile__rejoindre-ira {
  color: var(--primaire-white, #f6f8ff);
  text-align: center;
  font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);
  font-size: var(--heading-h-4-font-size, 16px);
  font-weight: var(--heading-h-4-font-weight, 500);
  position: relative;
}
  

.lp-mobile__frame-button2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  
  .lp-mobile__je-d-marre {
    color: var(--primaire-white, #f6f8ff);
    text-align: center;
    font-family: var(--heading-h-4-font-family, "Unbounded-Medium", sans-serif);
    font-size: var(--heading-h-4-font-size, 16px);
    font-weight: var(--heading-h-4-font-weight, 500);
    position: relative;
  }
  