@import "../../../../styles/variables.scss";

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 5vw);
  grid-gap: 15px;


  &__item {
    width: 100%;
    &--0 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
  
    }
    &--1 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 5;
  
    }
    &--2 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 10;  
    }
    &--3 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 10;  
    }
    &--4 {
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 10;
      grid-row-end: 14;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}
