.frame-48095806 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.unsplash-a-ug-tvv-qx-dhg {
  flex-shrink: 0;
  width: 177px;
  height: 217px;
  position: relative;
}
.frame-36598 {
  margin: -144px 0 0 0;
  background: #6979a7;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 600px;
  position: relative;
}

.newsletter {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
.newsletter-description {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --text-paragraphe-font-family,
    "Montserrat-Regular",
    sans-serif
  );
  font-size: var(--text-paragraphe-font-size, 16px);
  font-weight: var(--text-paragraphe-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-48095805 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.group-159 {
  flex-shrink: 0;
  width: 214px;
  height: 59px;
  position: static;
}
.frame-48095804 {
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 16px;
}
.envoyez-votre-mail {
  color: #ffffff;
  text-align: left;
  font-family: var(--textbouton-font-family, "Montserrat-Medium", sans-serif);
  font-size: var(--textbouton-font-size, 18px);
  line-height: var(--textbouton-line-height, 150%);
  font-weight: var(--textbouton-font-weight, 500);
  position: relative;
}
.group-36616 {
  flex-shrink: 0;
  width: 59px;
  height: 59px;
  position: static;
}
.rectangle-97 {
  background: #465c79;
  border-radius: 20px;
  width: 59px;
  height: 59px;
  position: absolute;
  left: 230px;
  top: 16px;
}
.material-symbols-arrow-insert {
  border-radius: 20px;
  width: 26.22px;
  height: 26.22px;
  position: absolute;
  left: 278.01px;
  top: 45.37px;
  transform: translate(-37.08px, -18.54px);
  overflow: visible;
}

@media (max-width: 600px) {
  .frame-36598 {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .frame-36598 {
    width: 400px;
  }

}    

@media (max-width: 400px) {
  .frame-36598 {
    width: 350px;
  }

}