.homeArtists {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 800px;
  }
  
  .frame3349 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .nosArtistes {
    color: var(--primaire-black, #000035);
    text-align: left;
    font-family: 'Unbounded', sans-serif;
    /*font-family: var(--heading-h-2-font-family, "Unbounded-SemiBold", sans-serif);*/
    font-size: var(--heading-h-2-font-size, 48px);
    font-weight: var(--heading-h-2-font-weight, 600);
    position: relative;
  }
  
  .artistsDescription {
    color: var(--bleu-bleusombre-300, #6979a7);
    text-align: center;
    font-family: var(
      --text-paragraphe-font-family,
      "Montserrat-Regular",
      sans-serif
    );
    font-size: var(--text-paragraphe-font-size, 16px);
    font-weight: var(--text-paragraphe-font-weight, 400);
    position: relative;
    width: 544px;
  }

  .imageArtist {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .imageContainer {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 900px; 
    height: 700px
  }

  @media (max-width: 900px) {
    .homeArtists {
      width: 700px; 
    }
    .imageContainer {
        width: 700px; 
      }
  }

  @media (max-width: 650px) {
    .homeArtists {
      width: 500px;
    }
    .imageContainer {
      width: 500px; 
      height: 550px;
    }
  }
  
  @media (max-width: 500px) {
    .homeArtists {
      width: 330px; 
    }
    .imageContainer {
      width: 400px; 
      height: 450px;
    }

    .artistsDescription {
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    .homeArtists {
      width: 300px; 
    }
    .imageContainer {
      width: 360px; 
      height: 400px;
    }

    .artistsDescription {
      font-size: 14px;
    }
  }


  .carouselCaption {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 150px;
    overflow-y: auto
  }
  